<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1649277253,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2022\/sports\/meet-the-seattle-mariners-lineup",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2022-04-06 13:34:13",
	"modifieddate":"2022-04-06 13:34:02",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"sports",
	"section_tier2":"mariners",
	"sections_all":"mariners|mlb",
	"othersections":"mlb",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
