<section class="thin-div">
  <div class="center">More Opening Day Coverage</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/mariners/i-want-to-win-a-world-series-here-mariners-veterans-dont-just-have-their-eyes-set-on-breaking-the-postseason-drought/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story1.jpg"
          alt="The three veteran Mariners return in search of a title. From left, Marco Gonzales, J.P. Crawford, and Mitch Haniger. The Seattle Mariners spring training camp was held at the Peoria Sports Complex, in Peoria, AZ, March 16, 2022. (Dean Rutz / The Seattle Times)">
        </a>
        <div>
          <a href="https://www.seattletimes.com/sports/mariners/i-want-to-win-a-world-series-here-mariners-veterans-dont-just-have-their-eyes-set-on-breaking-the-postseason-drought/" target="_blank" rel="noreferrer noopener nofollow">
            ‘I want to win a World Series here’: Mariners veterans don’t just have their eyes set on breaking the postseason drought
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/mariners/this-is-the-year-the-mariners-playoff-drought-ends-no-really/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story2.jpg"
          alt="­The Seattle Mariners greatly added to their roster with the addition of four players. From left, Adam Frazier, Robbie Ray, Jesse Winker and Eugenio Suarez. (Dean Rutz / The Seattle Times)">
        </a>
        <div>
          <a href="https://www.seattletimes.com/sports/mariners/this-is-the-year-the-mariners-playoff-drought-ends-no-really/" target="_blank" rel="noreferrer noopener nofollow">
            This is the year the Mariners’ playoff drought ends. No, really.
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/mariners/seattle-times-staff-predicts-al-west-rookie-of-the-year-and-more/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story3.jpg"
          alt="Washington Nationals’ Juan Soto bats during a baseball game against the Boston Red Sox, Sunday, Oct. 3, 2021, in Washington. The Red Sox won 7-5. (Nick Wass / AP)"
          >
        </a>
        <div>
          <a href="https://www.seattletimes.com/sports/mariners/seattle-times-staff-predicts-al-west-rookie-of-the-year-and-more/" target="_blank" rel="noreferrer noopener nofollow">
            Seattle Times staff predicts Mariners’ record, AL West standings and more
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/sports/mariners/the-mariners-will-need-to-rely-on-their-newcomers-to-bring-experience-for-a-playoff-push/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story4.jpg"
          alt="Robbie Ray and Jesse Winker leave a photo shoot for the Seattle Times via golf cart Wednesday. The Seattle Mariners Spring Training camp is being held at the Peoria Sports Complex, in Peoria, AZ, March 16, 2022. 219852 (Dean Rutz / The Seattle Times)"
          >
        </a>
        <div>
          <a href="https://www.seattletimes.com/sports/mariners/the-mariners-will-need-to-rely-on-their-newcomers-to-bring-experience-for-a-playoff-push/" target="_blank" rel="noreferrer noopener nofollow">
            The Mariners will need to rely on their newcomers to bring experience for a playoff push
          </a>
        </div>
      </div>
    </div>

</section>
